body{
	margin: 0;
	padding: 0;
	background: rgb(37, 223, 146);
}

.header{
	margin: 0;
	top: 0;
	padding: 20px;
	background: rgb(6, 58, 111);
}

#footer{
	background: rgb(6, 58, 111);
	padding: 20px;
}

.header a{
	border: solid rgb(0, 0, 0);
	border-radius: 10px;
	padding: 5px;
	text-decoration: none;
	color: black;
	background-color: aqua;
}

#left {
	text-align: left;
}

#right {
	text-align: right;
}