html {
	margin: 0;
	padding: 0;
	height: 100vh;
}

a {
	text-decoration: none;
	color: #000;
}
body {
	width: 100vw;
	font-family: Titillium Web;
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(111, 0, 255, 0.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #d80041 0%, #6935e2 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(111, 0, 255, 0.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #d80041 0%,#6935e2 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(111, 0, 255, 0.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #d80041 0%,#6935e2 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover,rgba(111, 0, 255, 0.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #d80041 0%,#6935e2 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(111, 0, 255, 0.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #d80041 0%,#6935e2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
	}  
.login{
	margin-top: 300px;
	margin-left: 750px;
	border: solid white 1px;
	display: inline-block;  
	background: white;width: 20%;
	text-align: center;
	font-size: x-large;
	}
.login_btn{
	height: 23px;
	margin-top: 10px;
}

.main {
	color: #262626;
	justify-content: center;
	margin-top: 12px;
	max-width: 350px;
	width: 100%;
}

.article {
	background-color: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 1px;
	margin: 0 0 10px;
	padding: 10px 0;
}

.wordmark {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.wordmark.margin {
	margin: 22px auto 12px;
}

.form {
	margin-bottom: 20px;
}

div {
	-webkit-box-align: stretch;
	align-items: stretch;
	border: 0 solid #000;
	box-sizing: border-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	flex-shrink: 0;
	margin: 0;
	padding: 0;
	position: relative;
}

div, h1, h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

h1 {
	display: block;
	font-size: 2em;
	margin-block-start: 0.67em;
	margin-block-end: 0.67em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}