body{
	background-color: #595959;
}
.main_rectangle{
	height: 137.5px;
	width: 1420px;
	border-radius: 15px;
	background-color: #909090;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
	margin: auto;
}
.grid{
	display: flex;
}
.stack{
	display: flex;
	flex-direction: column;
}
.stack2{
	display: flex;
	flex-direction: column;
}
.stack3{
	display: flex;
	flex-direction: column;
}
.stack2 img{
	/* height: 50%; */
	width: 50%;
	margin: auto;
	margin-bottom: 6px;
}
.stack3 img{
	margin-top: 10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.align{
	display: flex;
	align-content: center;
	justify-content: center;
	justify-content: space-between;
}
.edges{
	width:250px;
}
.left_rectangle{
	height: 430px;
	width: 140px;
	background-color: #909090;
	border-radius: 10px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 1);
	z-index: -1;
}
.central_rectangle{
	height: 597px;
	width: 1020px;
	border-radius: 10px;
	background-color: #909090;
	box-shadow: 10px 10px 10px black;
	z-index: -1;
}
.right_rectangle{
	height: 430px;
	width: 140px;
	border-radius: 10px;
	background-color: #909090;
	box-shadow: 10px 10px 10px black;
	z-index: -1;
}
.green_rectangle{
	height: 170px;
	width: 520px;
	border-radius: 10px;
	background-color: #89FE8C;
	box-shadow: 10px 10px 10px black;
	margin: -80px 0px 0px 190px;
	padding: 10px;
}
#doft{
	height: 115px;
	width: 420px;
	margin: 10px 0 0 20px;
}
#loupe{
	max-height: 100%;
	max-width: 100%;
	margin: 10px 0 0 695px;
}
#reload{
	height: 20px;
	width: 20px;
	margin: 10px 0 0 0;
}
#close{
	margin: 70px 0 0 0;
}
#two{
	width: 50%;
	margin: auto;
	margin-top: 6px;
	margin-bottom: 6px;
}
#oeil{
	border: 5px solid red;
	border-radius: 3px;
}
.brick{
	background-image: url(resources/brick.jpg);
	background-repeat: repeat;
	height: 70px;
	width: 120px;
	margin: auto;
}
.span{
	font-size: 40px;
	font-family: 'Times New Roman', Times, serif;
}
.main_span{
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}
.begone{
	text-shadow: 5px 5px 5px red;
}
form input[type="text"]{
	width: 350px;
}
form input[type=submit]{
	height: 22px;
	font-size: 12px;
	margin-left: 4px;
	letter-spacing: 1px;
	border: 1px solid gray;
	border-radius: 2px;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F4EFF3), to(#DCDCDC));
}